<%- include("header") %>

    <form action='/failure' method='POST'>
        <div class="box" style="padding-bottom:25px;">
            <h1 id ="heading">You cannot add an empty item to your List.</h1>
            <button class="trybtn" type='submit' name="Trybtn" value="">Try Again</button>
        </div>

    </form>


<%- include("footer") %>  